USE [master]
GO
/****** Object:  Database [ProjectTrackingDB]    Script Date: 8.08.2025 00:47:10 ******/
CREATE DATABASE [ProjectTrackingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectTrackingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectTrackingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectTrackingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjectTrackingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectTrackingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectTrackingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8.08.2025 00:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProject]    Script Date: 8.08.2025 00:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProject](
	[EmployeesId] [int] NOT NULL,
	[ProjectsId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeProject] PRIMARY KEY CLUSTERED 
(
	[EmployeesId] ASC,
	[ProjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8.08.2025 00:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](25) NOT NULL,
	[Role] [nvarchar](15) NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IDNumber] [nvarchar](15) NULL,
	[Department] [nvarchar](max) NULL,
	[Position] [nvarchar](25) NULL,
	[PositionDescription] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Address] [nvarchar](max) NULL,
	[MaritalStatus] [nvarchar](25) NULL,
	[EmergencyContact] [nvarchar](25) NULL,
	[EmergencyContactID] [nvarchar](25) NULL,
	[EmergencyContactFullName] [nvarchar](25) NULL,
	[EmergencyContactPhone] [nvarchar](25) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[JoiningDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 8.08.2025 00:47:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[PriorityStatus] [nvarchar](25) NOT NULL,
	[CompletionRate] [int] NOT NULL,
	[CompletionDate] [datetime2](7) NULL,
	[CompletionStatus] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250430220650_one', N'8.0.0')
GO
INSERT [dbo].[EmployeeProject] ([EmployeesId], [ProjectsId]) VALUES (8, 3)
INSERT [dbo].[EmployeeProject] ([EmployeesId], [ProjectsId]) VALUES (7, 4)
INSERT [dbo].[EmployeeProject] ([EmployeesId], [ProjectsId]) VALUES (8, 4)
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Title], [Description], [CreateDate], [PriorityStatus], [CompletionRate], [CompletionDate], [CompletionStatus], [CreatedDate], [UpdatedDate]) VALUES (3, N'CRM Sistemi', N'CRM Sistemi geliştiriliyor', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Orta Öncelikli', 16, NULL, 0, CAST(N'2025-05-02T01:07:14.2492230' AS DateTime2), CAST(N'2025-05-02T01:07:22.8126885' AS DateTime2))
INSERT [dbo].[Projects] ([Id], [Title], [Description], [CreateDate], [PriorityStatus], [CompletionRate], [CompletionDate], [CompletionStatus], [CreatedDate], [UpdatedDate]) VALUES (4, N'Mobil Uygulama', N'iOS ve Android için mobil uygulama geliştiriliyor', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Yüksek Öncelikli', 0, NULL, 0, CAST(N'2025-05-02T01:07:47.4829946' AS DateTime2), NULL)
INSERT [dbo].[Projects] ([Id], [Title], [Description], [CreateDate], [PriorityStatus], [CompletionRate], [CompletionDate], [CompletionStatus], [CreatedDate], [UpdatedDate]) VALUES (5, N'Web Sitesi Yenileme', N'Web sitesi modern tasarımla güncelleniyor', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'Düşük Öncelikli', 100, NULL, 1, CAST(N'2025-05-02T01:08:22.9765517' AS DateTime2), CAST(N'2025-05-02T01:08:38.7671745' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
/****** Object:  Index [IX_EmployeeProject_ProjectsId]    Script Date: 8.08.2025 00:47:11 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeProject_ProjectsId] ON [dbo].[EmployeeProject]
(
	[ProjectsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Employees_EmployeesId] FOREIGN KEY([EmployeesId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Employees_EmployeesId]
GO
ALTER TABLE [dbo].[EmployeeProject]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProject_Projects_ProjectsId] FOREIGN KEY([ProjectsId])
REFERENCES [dbo].[Projects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeProject] CHECK CONSTRAINT [FK_EmployeeProject_Projects_ProjectsId]
GO
USE [master]
GO
